---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/portfolio/index/HeroComponent.astro";
import CaseStudies from "@/components/portfolio/index/CaseStudiesComponent.astro";
import { portfolioCategories, portfolioFilters } from "@/data/portfolioIndex";
---

<Layout title="Portfolio | KRATECX">
  <div class="relative bg-[#050505]">
    <Hero />

    <CaseStudies categories={portfolioCategories} filters={portfolioFilters} />
  </div>
</Layout>

<style is:global>
  html {
    scroll-behavior: smooth;
  }
  [x-cloak] {
    display: none !important;
  }

  /* Ensure selection color matches brand orange */
  ::selection {
    background: #fb8500;
    color: white;
  }
</style>
